.routes_of_america_logo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.first_title_line{
    position: absolute;
    left: 100px;
    top: 90px;
    z-index: 2;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
}
.second_title_line{
    position: absolute;
    left: 120px;
    top: 110px;
    z-index: 1;
    rotate: -35deg;
    font-family: "Permanent Marker", cursive, sans-serif;
    font-size: 15px; 
    animation-name: bringInTitle;
    animation-duration: 3s;
    animation-delay: 1s;
}
#main_state_route_title_image{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}
div.tablecontainer{
    overflow-x: auto;
    overflow-y: auto;
}
#state_route_table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#state_route_table{
    width: 100%;
    height: 100%;
}
td, th{
   width: 20%;
   height: 30%; 
}
#help_button{
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    list-style-type: none;
    padding: 10px 0;
}
.modal-header,
.modal-body{
    color: black;
}
a{
    color: green;
}
a:hover{
    color: orange;
}
a:visited{
    color: red;
}
@keyframes bringInTitle{
    0% {transform: translate(1010px, 30px) rotate(0deg);}
    25% {transform: translate(400px, 30px) rotate(0deg);}
    75% {transform: translate(400px, 30px) rotate(-35deg);}
    100% {transform: translate(80px, 80px) rotate(-35deg);}
}